.toast-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: flex-start ;
  z-index: 999;
}

.toast {
  margin-top: 1em;
  padding : 10px;
  display: flex;
  animation: fadeInOut 4s;
  border-radius: 4px;
}


@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  10% {
    opacity: 1;
    transform: translateY(0);
  }
  80% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}
